.square {
    border: 2px dashed #000;
    width: 150px;
    height: 150px;
    background-color:cornflowerblue;
    padding: 30px;
    margin: 20px;
}

.square-2 {
    border: 2px dashed #000;
    width: 150px;
    height: 150px;
    background-color:blue;
    padding: 30px;
    margin: 20px;
}

.square-3 {
    border: 2px dashed #000;
    width: 150px;
    height: 150px;
    background-color:blueviolet;
    padding: 30px;
    margin: 20px;
}

.square-4 {
    border: 2px dashed #000;
    width: 150px;
    height: 150px;
    background-color:red;
    padding: 30px;
    margin: 20px;
}